{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<div class="ext-left">
			<a href="/artists/{{ artist.id }}">
				<i class="fas fa-users"></i>
				<div class="item">
					<h5>{{ artist.name }}</h5>
				</div>
			</a>
		</div>
		<div class="ext-right">
			<a href="/artists/{{ artist.id }}/edit">
				<i class="fas fa-edit"></i>
			</a>
			<a href="/artists/{{ artist.id }}">
				<i class="fas fa-trash"></i>
			</a>
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}